
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */